html, css {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFB2D0;
}

.planner {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

}

.day {
    background-color: #FCFBF4;
    padding: 1rem;
    border-radius: 8px;
    flex: 0 1 250px;
    border: 2px solid #00416A;
    text-align: center;
    color: #00416A;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color: #6CF0EC;
    text-shadow:  8px 5px 0 #00416A;
    font-family: 'Ranchers', cursive;
}

.add-button {
    background-color: #00416A;
    border-radius: 5px;
    color: #FCFBF4;
    border: 2px solid #00416A;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-list {
    list-style: none;
    text-align: left;
    padding-left: 0;

}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: #FCFBF4;
    border-radius: 4px;
}

h3 {
    font-size: 18px;
}

h2 {
    font-family: monospace;
    color: #fcfbf4;
    background-color: #00416A;
    text-align: center;


}

.new-week-button {
    font-family: monospace;
    color: #fcfbf4;
    background-color: #00416A;
    text-align: center;
    border: none;
    margin: 10px 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    display: block;
    font-size: 19px;
    font-weight: 900;
}

.delete-btn {
    color: #fcfbf4;
    background-color: #B22222;
    border-radius: 5px;
    border: 2px solid #B22222;
}